<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsky.manytomany.dao.GroupDao">

    <parameterMap type="com.sunsky.manytomany.entity.Groups" id="parameterGroupMap">
        <parameter property="id"/>
        <parameter property="name"/>
    </parameterMap>

    <insert id="insertGroup" parameterMap="parameterGroupMap">
        INSERT INTO `groups` (group_name)
        VALUES(#{name});
    </insert>



    <resultMap type="Groups" id="resultGroupMap">
        <result property="id" column="group_id" />
        <result property="name" column="group_name" />
        <collection property="peoples" column="group_id" select="com.sunsky.manytomany.dao.PeopleGroupDao.getUsersByGroupId" />
    </resultMap>

    <select id="getGroup" resultMap="resultGroupMap" parameterType="int">
        SELECT group_id , group_name
        FROM `groups`
        WHERE group_id = #{id}
    </select>

</mapper>