<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsky.manytomany.dao.PeopleDao">
    <parameterMap type="com.sunsky.manytomany.entity.People" id="parameterPeopleMap">
        <parameter property="id"/>
        <parameter property="name"/>
        <parameter property="phoneNum"/>
    </parameterMap>

    <insert id="insertUser" parameterMap="parameterPeopleMap">
        INSERT INTO people(username,mobile)
        VALUES(#{name},#{phoneNum});
    </insert>


    <resultMap type="People" id="resultPeople">
        <result property="id" column="id"/>
        <result property="name" column="username"/>
        <result property="phoneNum" column="mobile"/>
        <collection property="groups" column="id" select="com.sunsky.manytomany.dao.PeopleGroupDao.getGroupsByUserId"/>
    </resultMap>

    <select id="getUser" resultMap="resultPeople" parameterType="int">
        SELECT id,username,mobile
        FROM people
        WHERE id=#{id}
    </select>

</mapper>